<div class="board-wrapper">
	<div class="board-title board-show-title">
		<a href="#"><button class="inline new-button fleft">Back to Index</button></a>
		<button class="inline new-button new-list fleft" id="new-list">Create List</button><h2 class="inline"><%= board.escape('title') %></h2>
	</div>

<div class="list-wrapper">

</div>

