
<form class="new-list-form">
	<input type="hidden" name="list[board_id]" value="<%= board.get('id') %>">
	<input type="hidden" name="list[rank]" value="<%= rank %>" >
	<label>
		List Title
	<input type="text" name="list[title]" />
	</label>
	<button class=""> Add List </button>
</form>