<div class='list-title centered'><%= list.escape('title') %></div>
<div class='list-cards' data-list-id="<%= list.escape('id') %>"></div>
<div class="add-card centered" data-list-id="<%= list.escape('id') %>">
	ADD NEW CARD
</div>